a {
  color: #9b1d23;
  text-decoration: none;
}

a:hover {
  color: #9b1d23;
  font-weight: bold;
}

body {
  background-color: #e7792b;
  margin: 0px;
}

div {
  color: #333333;
  font-family: sans-serif;
  font-size: 11pt;
}

hr {
  margin-top: 6px;
}

td {
  padding-left: 0px;
  padding-right: 0px;
}

textarea {
  font-family: sans-serif;
  font-size: 11pt;
  height: 26pt;
  resize: none;
  width: 98%;
}

#copyright {
  font-style: italic;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.currentMenu {
  font-weight: bold;
}

.menu {
  padding-right: 24px;
}

.right {
  text-align: right;
}

.segment {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
